body {
    background-color: #121212;
    color: #ffffff;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
}

input, button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input {
    width: 80%;
    background-color: #333;
    color: #fff;
}

button {
    background-color: #6200ea;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #3700b3;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

#desc {
    margin-top: 20px;
    font-size: 1.7em;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(3, 50px);
    gap: 10px;
    width: 170px;
    margin: auto;
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    place-self: center;
}
canvas {
    position: absolute;
}

.arrow {
    font-size: 3rem;
    font-stretch: ultra-expanded;
    opacity: 0;
    transition: opacity 0.5s ease;
}

@keyframes moveUpFade {
    0% {
        transform: translateY(-130px);
        opacity: 1;
    }
    100% {
        transform: translateY(-280px);
        opacity: 0;
    }
}

.animate {
    animation: moveUpFade 1s forwards;
}

ns {
    color: #ff0000;
}